@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-ExtraBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url('../assets/Poppins-Black.ttf');
  font-weight: 900;
}


@layer base {
  body {
    @apply bg-slate-800 font-sans
  }

  .title {
    @apply text-4xl font-bold
  }

  .page-title {
    @apply text-3xl font-semibold text-slate-50
  }

  .link {
    @apply underline hover:text-lime-300 cursor-pointer text-lime-200 text-sm tracking-wide
  }

  .subtitle {
    @apply text-slate-50 text-sm tracking-wider
  }

  .product-title {
    @apply text-lg font-medium tracking-wide
  }

  .price {
    @apply text-sm font-medium tracking-wider
  }
}

